<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="jumbotron text-center" ng-if="!main.loggedIn">
			<div>
				<h1> Sign up to post data!</h1>
			</div>
			<div>
				<p>Login to write your story</p>
				<a href="/login" class="btn btn-primary"> Login </a>
			</div>
		</div>
		<div class="row" ng-if="main.loggedIn">
			
			<div class="col-md-3">
			</div>

			<div class="col-md-4" ng-controller="StoryController as story">
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Content</h3>
							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
						</div>
						<div class="panel-body">
							<form ng-submit="story.createStory()">
								
								<input type="text" class="form-control" ng-model="story.storyData.content" placeholder="Enter Data ..." required=""></input>
								
							</form>
						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading"> Your Story </div>
					<div class="panel-body" ng-repeat="note in story.stories | reverse">
						<p>{{note.content}}</p>
					</div>

					</div>
				</div>
			</div>
			
			<div class="col-md-3">
			</div>
		</div>
		
	</body>
</html>